body {
    background-color: #ececec;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.img-beads {
    width: 1130px;
    height: 480px;
}
.logo {
    width: 310px;
    height: 190px; 
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}
.link {
    padding: 10px 40px;
    text-decoration: none;
    color: #545454;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
}
h1 {
    position: absolute;
    top: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    color: #820000;
    margin: 0;
}
h2 {
    position: absolute;
    top: 100px;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    color: #4E6C50;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}
h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    color: #820000;
}
p {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    color: #545454;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: wrap;
    width: 300px;
    text-align: center;
}
h4 {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    color: #545454;
}
.container-slaider {
    display: flex;
}
.btn-slaider {
background-color: #ececec;
border: none;
font-size: 30px;
}
.showBtn {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    color: #545454;
}
.btn {
    background-color: #A3BB98;
    color: #ececec;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    width: 248px;
    height: 72px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container-buttons {
    display: flex;
    justify-content: space-evenly;
}
.btn-filter {
    background-color: #A3BB98;
    color: #ececec;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    padding: 10px;
    border: none;
    white-space: wrap;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.img-dasha {
    width: 470px; 
    height: 589px;   
}
.block-about {
    background-color: #D9D9D9;
}
.about-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 150px;
}
.about {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.about-text {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    color: #545454;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: wrap;
    width: 500px;
    text-align: center;
}
.about-header-one {
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    color: #820000;
    margin: 0;
}
.about-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo-about {
    padding: 20px;
    border: none;
    background-color: #D9D9D9; 
    width: 90px; 
}
.logo-about:hover {
    cursor: pointer;
}
.container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #D9D9D9;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}
.logo-whatsapp {
    width: 90px;
    align-items: center;
}
.delivery-header-one {
    position: absolute;
    top: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    color: #820000;
    margin: 0;
}
.delivery-header-three {
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    color: #545454;
    margin: 5px;
    text-align: center;
}
.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #D9D9D9;
    width: 100%;
    height: 450px;
    position: relative;

}
span {
    text-decoration: underline;
}
.img-jewelry {
    border: 10px solid rgba(84, 84, 84, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 313px;
    height: 323px;
}
.footer {
    background-color: #545454;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: #D9D9D9
}
.logo-footer {
    padding: 20px;
}
.hidden {
    display: none;
}
@media all and (max-width: 1000px) {
    .container-buttons {
        flex-wrap: wrap;
    }
    .img-beads {
        width: 750px;
        height: 400px;
    }
    .btn-filter {
        margin-bottom: 10px;
        font-size: 25px;
    }
    nav {
        width: 100%;
        
    }
    .link {
        padding: 5px 10px;
        font-size: 25px;
    }
    h1 {
        position: absolute;
        top: 30px;
        font-family: 'Exo 2', sans-serif;
        font-size: 45px;
        text-transform: uppercase;
        color: #820000;
        margin: 0;
    }
    .btn {
        font-size: 30px;
    }
    h4 {
        font-size: 30px;
    }
}
@media all and (max-width: 500px) {
    .container-buttons {
        flex-wrap: wrap;
    }
    .logo {
        width: 210px;
        height: 90px; 
    }
    .img-beads {
        width: 400px;
        height: 300px;
    }
    .btn-filter {
        margin-bottom: 10px;
        font-size: 20px;
    }
    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;   
    }
    .link {
        padding: 5px 10px;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
     }
    .btn {
        font-size: 25px;
    }
    h4 {
        font-size: 25px;
    }
    .img-dasha {
        width: 330px; 
        height: 450px;   
    }
    .logo-about {
        width: 50px;
        padding: 0;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }
    .about-text {
        font-size: 15px;
    }
    h2 {
        font-size: 13px;
    }
    h3 {
        font-size: 25px;
        text-align: center;
    }
    p {
        font-size: 15px;
    }
    .about-header-one {
        font-size: 40px;
    }
    .block-one {
        height: 200px;
    }
    .block-two {
        height: 350px;
    }
    .delivery-header-one {
        font-size: 30px;
    }
    .delivery-header-three {
        font-size: 22px;
    }
    .footer-header {
        font-size: 15px;
    }
    .logo-footer {
        width: 40px;
    }
    .logo-whatsapp {
        width: 50px;
    }
    .footer {
        width: 100%;
    }
    .btn-slaider {
        font-size: 20px;
    }
}